name: Docker Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build Docker Image
      run: docker build -t pynote-app .

    - name: Test Docker Run
      run: |
        # Run the container in the background (-d)
        docker run -d --name test-app pynote-app
        # Wait 10 seconds for it to boot up
        sleep 10
        # Check if the container is still running (if it crashed, this fails)
        if [ "$(docker inspect -f '{{.State.Running}}' test-app)" == "true" ]; then
          echo "Streamlit started successfully!"
          docker stop test-app
        else
          echo "Streamlit failed to start!"
          docker logs test-app
          exit 1
        fi