name: Docker Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build Docker Image
      run: docker build -t pynote-app .

    - name: Test Docker Run
      # We use 'python --version' because it starts the container,
      # proves it works, and exits immediately.
      run: docker run pynote-app python --version